<div data-ng-if="$parent.USER?false:true" class="usa-content">
    <div class="usa-grid login-alert">
        <div class="usa-alert usa-alert-error" role="alert"
            data-ng-show="vm.errorNotif">
            <div class="usa-alert-body">
                <h3 class="usa-alert-heading">Error Status</h3>
                <p class="usa-alert-text">{{vm.errorMessage | translate}}</p>
                <a href="#" data-ng-click="closeAlert('success')"
                    aria-label="close">&times;</a>
            </div>
        </div>
    </div>
    <div class="centeredForm">
        <form class="usa-form-large" name="authForm">
            <fieldset>
                <div class="loginFormDiv">
                    <label for="username">{{'LOGIN.LABEL.USERNAME' |
                        translate}}</label>
                    <input id="username" name="username"
                        type="text" data-autocapitalize="off"
                        data-autocorrect="off" data-ng-model="user.username" required="true" />
                    <span
                        data-ng-show="authForm.username.$touched && authForm.username.$error.required">{{'LOGIN.MESSAGE.INVALID.USERNAMEREQUIRED'
                        | translate}}</span>
                </div>
                <div class="loginFormDiv passwordDiv">
                    <label for="password">{{'LOGIN.LABEL.PASSWORD' | translate}}</label>
                    <input id="password" name="password" type="password"
                        data-ng-model="user.password" required="false"
                        data-ng-pattern="$parent.VALID_PWD_REGEX">
<!--                     <p class="usa-form-note"> -->
<!--                         <a title="Show password" href="javascript:void(0);" -->
<!--                             class="usa-show_password" aria-controls="password"> -->
<!--                             Show password</a> -->
<!--                     </p> -->
                    <span
                        data-ng-show="authForm.password.$touched && authForm.password.$error.required">{{'LOGIN.MESSAGE.INVALID.PASSWORDREQUIRED'
                        | translate}}</span>
                    <span
                        data-ng-show="authForm.password.$touched && authForm.password.$error.pattern">{{'GENERIC.MESSAGE.INVALID.PASSWORDPATTERN'
                        | translate }}</span>
                </div>
                <div class="loginFormDiv">
                    <h5>
                        {{'LOGIN.MESSAGE.SIGNIN' | translate}} <a href=""
                            data-ng-click="toggleRegistrationModal()">{{'LOGIN.MESSAGE.SIGNIN.LINK'
                            | translate}}</a>.
                    </h5>
                </div>
                <div>
                    <button class="usa-button-primary-alt usa-button-login"
                        data-ng-click="vm.submitForm(authForm.$valid)">{{'LOGIN.BUTTON.SUBMIT'
                        | translate}}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>