
<header class="usa-header usa-header-extended" role="banner">
    <div class="usa-header-logo">
        <img class="usa-footer-slim-logo-img" src="" alt="Logo image">
        <h3 class="usa-footer-slim-logo-heading">{{'HEADER.USER.APPNAME' | translate}}</h3>
    </div>
        <div class="usa-nav-inner">
            <button class="usa-nav-close">
                <img src="" alt="close">
            </button>
            <div class="usa-nav-secondary">
                <ul class="usa-unstyled-list usa-nav-secondary-links">
                    <li><a data-ng-click="manageProfile()" href="">{{'HEADER.USER.MANAGEPROFILE' | translate}}</a></li>
                    <li><a href="#">{{'HEADER.USER.LOGOUT' | translate}}</a></li>
                </ul>
            </div>
        </div>
    
</header>